@model TomasHorvath.BlogEngine.Domain.DTO.BlogPostDto
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('Content/img/post-bg.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1>@Model.Headline</h1>
					<h2 class="subheading">@Model.Perex</h2>
					<span class="meta">Posted by <a href="#">@Model.AuthorName</a> on @Model.DateOfPublished</span>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Post Content -->


	<article>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					@Model.Content
				</div>
			</div>
		</div>
	</article>

<hr />

