@{
  string root = ViewBag.Root;

 }
@model IPagedList<TomasHorvath.BlogEngine.Domain.DTO.BlogPost.BlogPostPreviewDto>
<section id="blog">
	<div class="container">
		<input type="hidden" name="filterContext" id="filterContext" value="@Model.FilterJson">
		<div class="row">
		@foreach (TomasHorvath.BlogEngine.Domain.DTO.BlogPost.BlogPostPreviewDto article in Model)
		{
		<div class="col-sm-6">
			<h1>@article.Headline</h1>
			<p>
				@article.Perex
			</p>
			<a href="@root@article.Url" class="btn btn-primary">Celý článek</a>
		</div>
		}

		</div><!--End row -->
		<div class="row">
			<div class="col-sm-12 ">
				<!-- Vouchers -->
				@if (Model.EndPage > 1)
				{
				<ul class="pagination">
					@if (Model.PageIndex > 1)
					{
					<li>
						<a class="datapage" data-page="1" href="#">First</a>
					</li>
					<li>
						<a class="datapage" data-page="@(Model.PageIndex - 1)" href="~/Home/Index?page=@(Model.PageIndex - 1)">Previous</a>
					</li>
					}

					@for (var page = Model.StartPage; page <= Model.EndPage; page++)
					{
					<li class="@(page == Model.PageIndex ? "active" : "")">
						<a class="datapage" data-page="@page" href="~/Home/Index?page=@page">@page</a>
					</li>    }

					@if (Model.PageIndex < Model.TotalPages)
					{
					<li>
						<a class="datapage" data-page="@(Model.PageIndex + 1)" href="~/Home/Index?page=@(Model.PageIndex + 1)">Next</a>
					</li>
					<li>
						<a class="datapage" data-page="@(Model.TotalPages)" href="~/Home/Index?page=@(Model.TotalPages)">Last</a>
					</li>
					}
				</ul>
				}


			</div>
		</div>

	</div><!--End container -->
</section>